<div *ngIf="patient">
    <h2>{{patient.name | uppercase}} {{patient.lastName | uppercase}} Details</h2>
    <div>
      <label for="patient-name">Patient name: </label>
      <input id="patient-name" [(ngModel)]="patient.name" placeholder="Name">
    </div>
    <div>
        <label for="patient-lastName">patient Lastname: </label>
        <input id="patient-lastName" [(ngModel)]="patient.lastName" placeholder="Lastname">
    </div>
    <app-consultation-list [patientId]="patient.id"></app-consultation-list>
</div>
<app-consultation-form source="patient" [selectedPatient]="patient"></app-consultation-form>
<button (click)="goBack()">go back</button>