<div>
    <h2>Create a consulttation</h2>
    
    <div>
      <label for="description">Description: </label>
      <input id="description" ng-model="consultation.description" placeholder="Description">
    </div>
    <div>
        <label for="prescription">Prescription: </label>
        <input id="prescription" ng-model="consultation.prescription" placeholder="Prescription">
    </div>
    <div *ngIf="source != 'doctor'">
        <label for="doctor">Doctor: </label>
        <select id="doctor" ng-model="consultation.doctor">
            <option value="" disabled>Choose a state</option>
            <option *ngFor="let d of doctors" [ngValue]="d">
              {{d.name}} {{d.lastName}}
            </option>
        </select>
    </div>
    <div *ngIf="source != 'patient'">
        <label for="patient">Patient: </label>
        <select id="patient" ng-model="consultation.patient">
            <option value="" disabled>Choose a state</option>
            <option *ngFor="let p of patients" [ngValue]="p">
                {{p.name}} {{p.lastName}}
            </option>
        </select>
    </div>
</div>
<button (click)="save()">Save Consultation</button>