<div *ngIf="doctor">
    <h2>{{doctor.name | uppercase}} {{doctor.lastName | uppercase}} Details</h2>
    <div>
      <label for="doctor-name">Doctor name: </label>
      <input id="doctor-name" [(ngModel)]="doctor.name" placeholder="Name">
    </div>
    <div>
        <label for="doctor-lastName">Doctor Lastname: </label>
        <input id="doctor-lastName" [(ngModel)]="doctor.lastName" placeholder="Lastname">
    </div>
    <app-consultation-list [doctorId]="doctor.id"></app-consultation-list>
</div>
<app-consultation-form source="doctor" [selectedDoctor]="doctor"></app-consultation-form>
<button (click)="goBack()">go back</button>