<app-search source="patient"></app-search>
<ul class="patients">
	<li *ngFor="let patient of patients">
		<a routerLink="/patients/{{patient.id}}">
			{{patient.name}}  {{patient.lastName}}
		</a>
	</li>
</ul>