<ul class="consultations">
    <div *ngIf="doctorId">
        <li *ngFor="let consultation of consultations">
            Patient: 
            <a routerLink="/patients/{{consultation.patient.id}}">
                {{consultation.patient.name}}  {{consultation.patient.lastName}}
            </a><br>
            Description: {{consultation.description}}<br>
            Appointment Date: {{consultation.appointmentDate}}<br>
            Prescription: {{consultation.prescription}}<br>
        </li>
    </div>
    <div *ngIf="patientId">
        <li *ngFor="let consultation of consultations">
            Doctor: 
            <a routerLink="/doctors/{{consultation.doctor.id}}">
                {{consultation.doctor.name}}  {{consultation.doctor.lastName}}
            </a><br>
            Description: {{consultation.description}}<br>
            Appointment Date: {{consultation.appointmentDate}}<br>
            Prescription: {{consultation.prescription}}<br>
        </li>
    </div>
</ul>