<div id="search-component">
    <label for="search-box">{{source | titlecase }} Search</label>
    <input #searchBox id="search-box" (input)="search(searchBox.value)" />
  
    <ul class="search-result">
        <div *ngIf="source == 'doctor'">
            <li *ngFor="let doctor of doctors$ | async" >
                <a routerLink="/doctors/{{doctor.id}}">
                    {{doctor.name}} {{doctor.lastName}} - {{doctor.medicalSpecialty}}
                </a>
            </li>
        </div>
        <div *ngIf="source == 'patient'">
            <li *ngFor="let patient of patients$ | async" >
                <a routerLink="/patients/{{patient.id}}">
                    {{patient.name}} {{patient.lastName}} 
                </a>
            </li>
        </div>
    </ul>
</div>