<app-search source="doctor"></app-search>
<ul class="doctors">
	<li *ngFor="let doctor of doctors">
		<a routerLink="/doctors/{{doctor.id}}">
			{{doctor.name}}  {{doctor.lastName}}
		</a>
	</li>
</ul>