/* doctorsComponent's private CSS styles */
SCSS SYNTAX
{
    $base-color: #525252;

    .doctors {
        margin: 0 0 2em 0;
        list-style-type: none;
        padding: 0;
        width: 15em;
    }
    
    input {
        display: block;
        width: 100%;
        padding: .5rem;
        margin: 1rem 0;
        box-sizing: border-box;
    }
    
    .doctors li {
        position: relative;
        cursor: pointer;
    }
    
    .doctors li:hover {
        left: .1em;
    }
    
    .doctors a {
        color: #333;
        text-decoration: none;
        background-color: #EEE;
        margin: .5em;
        padding: .3em 0;
        height: 1.6em;
        border-radius: 4px;
        display: block;
        width: 100%;
    }
    
    .doctors a:hover {
        color: #2c3a41;
        background-color: #e6e6e6;
    }
    
    .doctors a:active {
        background-color: $base-color;
        color: #fafafa;
    }
        
    .add-button {
        padding: .5rem 1.5rem;
        font-size: 1rem;
        margin-bottom: 2rem;
    }
    
    .add-button:hover {
        color: white;
        background-color: #42545C;
    }
    
    button.delete {
        position: absolute;
        left: 210px;
        top: 5px;
        background-color: white;
        color:  $base-color;
        font-size: 1.1rem;
        padding: 1px 10px 3px 10px;
    }
    
    button.delete:hover {
        background-color: $base-color;
        color: white;
    }
}